@using Univ_WebSite_Api_Core_Use.Models
@model Person

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form action="Delete" method="post">
    <input type="hidden" name="PersonID" value=@Model.PersonID  />
    نام<input type="text" name="Name" value=@Model.Name /><br />
    نام خانوادگی<input type="text" name="Family" value=@Model.Family /><br />
    تاریخ تولد<input type="date" name="BirthDate" value=@Model.BirthDate.ToShortDateString() /><br />


    @{
        if (@Model.Sex == true)
        {
            <div>
                مرد <input type = "radio" name = "Sex" value = "True" checked /><br />
                زن <input type = "radio" name = "Sex" value = "False" /><br />

            </div>
        }
         else
        {
            <div>
                مرد <input type = "radio" name = "Sex" value = "True"  /><br />
                زن <input type = "radio" name = "Sex" value = "False" checked /><br />

            </div>
        }
    }
    تصویر<input type="text" name="Picture" value=@Model.Picture /><br />

    <input type="submit" value="حذف" />

</form>
